.pageheader
  %h2 About Caravan
  %p.subhead About Caravan & Credits 

.hseparator

.row-fluid
  .span12
    .general-content
      %p= "Caravan is hand-crafted by a team in Bangalore. It was borne out of the requirement to develop a complete bootstrap theme with less code using #{link_to 'HAML', 'http://haml.info/'} and #{link_to 'SASS', 'http://sass-lang.com/'}."
      %p= "Thanks to the open source technologies - #{link_to 'Bootstrap', 'http://getbootstrap.com'}, #{link_to 'Font Awesome', 'http://fortawesome.github.io/Font-Awesome' }, #{link_to 'MiddleMan', 'http://middlemanapp.com'} and many more."

.row-fluid
  .span12
    .maplocation#map